@model ResumeUpdateDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section Css{
    <link href="~/jqueryui/jquery-ui.min.css" rel="stylesheet" />
}
<h5>Ana Kategorisi : @ViewBag.Deneme</h5>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Editing (@Model.Title) Resume</h5>
        <hr class="dropdown-divider" />
        <br />
        <form asp-action="Edit" asp-controller="Resume" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="position-relative row form-group">
                <label asp-for="@Model.Title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input placeholder="Title" class="form-control" asp-for="@Model.Title">
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="position-relative row form-group">
                <label asp-for="@Model.Text" class="col-sm-2 col-form-label">Text</label>
                <div class="col-sm-10">
                    <input placeholder="Text" class="form-control" asp-for="@Model.Text">
                    <span asp-validation-for="@Model.Text" class="text-danger"></span>
                </div>
            </div>

            <div class="position-relative row form-group">
                <label asp-for="@Model.StartedDate" class="col-sm-2 col-form-label">Started Date</label>
                <div class="col-sm-10">
                    <input autocomplete="off" placeholder="Started Date" id="datepicker" class="form-control" asp-for="@Model.StartedDate">
                    <span asp-validation-for="@Model.StartedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="position-relative row form-group">
                <label asp-for="@Model.EndedDate" class="col-sm-2 col-form-label">Ended Date</label>
                <div class="col-sm-10">
                    <input autocomplete="off" id="datepicker2" placeholder="Ended Date" class="form-control" asp-for="@Model.EndedDate">
                    <span asp-validation-for="@Model.EndedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Options</div>

                <div class="card-body">
                    <div class="custom-checkbox row custom-control form-group ">
                        <div class="col-md-4">
                            <input type="checkbox" id="exampleCustomCheckbox1" asp-for="@Model.IsDraft" class="custom-control-input">
                            <label class="custom-control-label" for="exampleCustomCheckbox1">
                                Add to Draft
                            </label>
                        </div>
                    </div>

                    <div class="custom-checkbox row custom-control form-group ">
                            <div class="col-md-4">
                                <input type="checkbox" id="exampleCustomCheckbox2"  asp-for="@Model.IsWork" class="custom-control-input">
                                <label class="custom-control-label" for="exampleCustomCheckbox2">
                                    Add to Work
                                </label>
                            </div>
                        </div>

                        <div class="custom-checkbox row custom-control form-group ">
                            <div class="col-md-4">
                                <input type="checkbox" id="exampleCustomCheckbox" asp-for="@Model.IsEducation" class="custom-control-input">
                                <label class="custom-control-label" for="exampleCustomCheckbox">
                                    Add to Education
                                </label>
                            </div>
                        </div>

                  

                </div>
            </div><!--cardEnd-->

            <div class="position-relative row">
                <button type="submit" class="btn btn-primary col-md-6 ">Save</button>
                <a asp-action="Index" asp-controller="Resume" class="btn btn-warning col-md-6 float-right">Cancel</a>
                @*<div class="col-sm-10 offset-sm-2">
                        <button class="btn btn-secondary">Submit</button>
                    </div>*@
            </div>
        </form>
    </div>

</div>
@section JavaScript{
    <script src="~/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#CategoryId").on("change", function () {
                $list = $("#SubCategoryId");
                $.ajax({
                    url: "../GetSubCategories",
                    type: "GET",
                    data: { id: $("#CategoryId").val() }, //id of the state which is used to extract cities

                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $list.empty();
                        $.each(result, function (i, item) {
                            $list.append('<option value="' + item.value + '"> ' + item.text + ' </option>');

                        });
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                yearRange: 'c-20:c+10',
                changeYear: true,
                changeMonth: true,


            });

        });

    </script>

    <script>
        $(document).ready(function () {
            $("#datepicker2").datepicker({
                yearRange: 'c-20:c+10',
                changeYear: true,
                changeMonth: true,

            });

        });

    </script>


}

