@model ResumeUpdateDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<link href="~/jqueryui/jquery-ui.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" asp-controller="Resume" method="post">

            <input type="hidden" asp-for="@Model.Id" />

            <div class="form-group">
                <label class="d-inline" asp-for="@Model.Title"></label> :
                <span class="text-danger" asp-validation-for="@Model.Title"></span>
                <input type="text" class="form-control w-25" asp-for="@Model.Title" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Text"></label>
                <span class="text-danger" asp-validation-for="@Model.Text"></span>
                <input type="text" class="form-control" asp-for="@Model.Text" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.StartedDate"></label>
                <span class="text-danger" asp-validation-for="@Model.StartedDate"></span>
                <input type="text" id="datepicker" class="form-control" asp-for="@Model.StartedDate" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.EndedDate"></label>
                <span class="text-danger" asp-validation-for="@Model.EndedDate"></span>
                <input type="text" id="datepicker2" class="form-control" asp-for="@Model.EndedDate" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.IsDraft"></label>
                <span class="text-danger" asp-validation-for="@Model.IsDraft"></span>
                <input type="checkbox" class="custom-checkbox" asp-for="@Model.IsDraft" />
            </div>

            <div class="form-group">
                <label>Base Category</label> &nbsp;
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                <select id="CategoryId" asp-for="@Model.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                </select>
            </div>

            <div class="form-group">
                <label>Sub Category</label> &nbsp;
                <span asp-validation-for="@Model.SubCategoryId" class="text-danger"></span>
                <select id="SubCategoryId" asp-for="@Model.SubCategoryId" asp-items="@(new SelectList("","Id","Name"))" class="form-control">
                </select>
            </div>

            <a asp-action="Index" asp-controller="Resume" class="btn btn-warning col-md-5 offset-1">Cancel</a>
            <button type="submit" class="btn btn-primary col-md-5">Save</button>
        </form>
    </div>
</div>
@section JavaScript{
    <script src="~/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#CategoryId").on("change", function () {
                $list = $("#SubCategoryId");
                $.ajax({
                    url: "../GetSubCategories",
                    type: "GET",
                    data: { id: $("#CategoryId").val() }, //id of the state which is used to extract cities

                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $list.empty();
                        $.each(result, function (i, item) {
                            $list.append('<option value="' + item.value + '"> ' + item.text + ' </option>');

                        });
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                changeYear: true,
                changeMonth: true,

            });

        });

    </script>

    <script>
        $(document).ready(function () {
            $("#datepicker2").datepicker({
                changeYear: true,
                changeMonth: true,

            });

        });

    </script>


}

