@model ResumePageModel
@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Resume Page
      ================================================== -->
<div id="resume">
    <!-- Resume Section -->
    <div class="row">
        <section class="education">
            <div class="section-title top_30"><span></span><h2>Resume</h2></div>
            <div class="row">
                @if (Model.ResumeList.Count > 0)
                {
                    <!-- Working History -->
                    <div class="working-history col-md-6 padding_15 padbot_30">
                        <ul class="timeline col-md-12 top_30">
                            <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
                            <!-- a work -->
                            @foreach (var resumeWork in Model.ResumeList)
                            {
                                @if (resumeWork.SubCategoryId == ViewBag.WorkSubCategoryId && resumeWork.IsDraft == false)
                                {
                                    <li>
                                        <h3 class="line-title">@resumeWork.Title</h3>
                                        <span>@resumeWork.StartedDate - @resumeWork.EndedDate</span>
                                        <p class="little-text">@resumeWork.Text</p>
                                    </li>
                                    <!-- a work -->
                                }

                            }
                        </ul>
                    </div>
                    <!-- Education History -->
                    <div class="education-history col-md-6 padding_15 padbot_30">
                        <ul class="timeline col-md-12 top_30">
                            <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
                            <!-- a work -->
                            @foreach (var resume in Model.ResumeList)
                            {
                                @if (resume.SubCategoryId == ViewBag.EducationSubCategoryId && resume.IsDraft == false)
                                {
                                    <li>
                                        <h3 class="line-title">@resume.Title</h3>
                                        <span>@resume.StartedDate - @resume.EndedDate</span>
                                        <p class="little-text">@resume.Text</p>
                                    </li>
                                }
                            }
                           
                        </ul>
                    </div>
                }
                else
                {
                    <div>No data added yet !</div>
                }
            </div>

        </section>
    </div>
    <hr />
    <!-- Testimonials -->
    <div class="row h-auto">
        <section class="testimonials bottom_30">
            <div class="section-title top_60 bottom_30"><span></span><h2>Testimonials</h2></div>
            <div class="owl-carousel row" data-items="3" data-autoplay="3000" data-pagination="true">
                @if (Model.TestimonialList.Count > 0) { 
                @foreach(var testimonial in Model.TestimonialList)
                {
                <!-- a item -->
                <div class="col-md-12 item">
                    <div class="comment">
                        <div class="top-section">
                            <figure>
                                <img src="~/img/testimonial/@testimonial.ImageUrl" alt="">
                            </figure>
                            <div class="name-info">
                                <span class="name">@testimonial.Name</span><br />
                                <span class="job">@testimonial.Title</span>
                            </div>
                        </div>
                        <hr>
                        <p>@testimonial.Text</p>
                    </div>
                </div>
                }
                }
                else
                {
                    <p>No testimonial added yet !</p>
                }
            </div>
        </section>
    </div>
</div>